{% extends "zblog/base/base.html" %}

{%block main%}
<div class="row">
    <div id="vmaig-content" class="col-md-8 col-lg-9">
        <!-- 警告框 -->
        <div class="alert alert-info alert-dismissable fade show">
            <button class="close" data-dismiss="alert" type="button">&times;</button>
            {{website_welcome}}
        </div>

        <!-- 首页文章列表 -->
        <div id="home-post-list">
            <!-- 首页轮播 -->
            {% if carousel_page_list%}
            {% include "zblog/base/carousel.html"%}
            {% endif%}

            <!--首页文章列表 -->
            {% if article_list %}
            {% with post_list=article_list %}
            {% for post in post_list %}
                {% include "zblog/base/home_post.html" %}
            {% endfor %}
            {% endwith %}
            {% endif %}

            <!--分页 -->
            {% if page_obj%}
            {% include "zblog/base/pagination.html"%}
            {% endif %}
        </div>
    </div>

    <!-- 右边的widgets -->
    <div id="vmaig-side" class="col-md-4 col-lg-3 hidden-xs">
        {% include "zblog/fragment/tags_cloud.html"%}
        {% include "zblog/fragment/search.html"%}
        {% include "zblog/fragment/hotest_posts.html"%}
        {% include "zcomments/latest_comments.html"%}
        {% include "zblog/fragment/links.html"%}
    </div>
</div>
{% endblock %}
