  <div class="card">
    <div class="card-header bg-dark text-white">
      <i class="fas fa-flag"></i>最新评论
    <i class="fas fa-window-close float-right m-1 zbtn panel-close"></i>
    <i class="fas fa-chevron-up float-right m-1 zbtn panel-collapse" data-toggle="collapse" data-target="#latest-comment-list"></i>
  </div>
        <div id="latest-comment-list" class="list-group collapse show">
            {% for comment in latest_comment_list%}
            <li class="list-group-item clearfix">
            <div class="comment-tx">
                {% if comment.user.img%}
                <img src="{{comment.user.img}}" width="40" height="40" alt="">
                {%else%}
                <img src="http://vmaig.qiniudn.com/image/tx/tx-default.jpg" width="40" height="40" alt="">
                {%endif%}
            </div>
            <div class="comment-info">
                <div class="comment-username">
                    <a href="#">{{comment.user.username}} 评论:</a>
                </div>
                <div class="comment-content">
                    <a href="{% url 'article-detail-view' comment.article.en_title%}">
                        {% autoescape on%}
                        {{comment.text|slice:"30" }}
                        {% endautoescape %}
                        {% if comment.text|length > 30%}
                        ...
                        {% endif %}
                    </a>
                </div>
            </div>
            </li>
            {% endfor %}
        </div>
</div>
