<div class="panel-group" id="accordion">
<div class="panel panel-default">
    <div class="card-header bg-dark text-white">
      <i class="fas fa-flag"></i>友情链接
    <i class="fas fa-window-close float-right m-1 zbtn "></i>
    <i class="fas fa-chevron-up float-right m-1 zbtn panel-collapse" data-toggle="collapse" data-target="#links"></i>
  </div>
    <div id="links" class="panel-collapse collapse show">
      {% for link in links %}
          <li class="list-group-item">
              <a title="{{link.title}}" target="_blank" href="{{link.url}}" class="btn btn-xs btn-{{link.color}}">{{link.title}}</a>
          </li>
      {% endfor %}
    </div>
</div>
  </div>

