{% extends "zblog/base/base.html"%}
{% block main%}
{% url 'register-view' as register_url%}
{% url 'login-view' as login_url%}
{% url 'user-view' 'changetx' as changetx_url %}
{% url 'user-view' 'changepassword' as changepassword_url %}
{% url 'user-view' 'notification' as notification_url %}

<div class="row">
    <div class="col-md-2">
        <a class="list-group-item">
            <img src="{{user.img}}" alt="" width="40">
            &nbsp;{{user.username}} 
        </a>
        <a href="{{changetx_url}}"class="list-group-item">
            修改头像
            <i class="fas fa-chevron-circle-right float-right"></i>
        </a>
        <a href="{{changepassword_url}}"class="list-group-item">
            修改密码
            <i class="fas fa-chevron-circle-right float-right"></i>
        </a>
        <a href="{{notification_url}}"class="list-group-item">
            消息
            <i class="fas fa-chevron-circle-right float-right"></i>
        </a>
        <a href="{{register_url}}"class="list-group-item">
            注册新用户
            <i class="fas fa-chevron-circle-right float-right"></i>
        </a>
        <a href="{{login_url}}"class="list-group-item">
            重新登陆
            <i class="fas fa-chevron-circle-right float-right"></i>
        </a>

    </div>
    <div class="col-md-10">
        {% block user_right%}{% endblock%}
    </div>
</div>

{% endblock%}
